<ion-view view-title="" style='background : white;'>
<div  ng-if='single'>
<ion-content>
<div class="list card">
  </br>
    <h2>{{data.titre}}</h2>
  <div class="item item-thumbnail-left">
     <img ng-if='data.image' src="http://192.168.100.42/uploads/{{data.image}}">
     <h2>{{data.facebook}}</h2>
    <p>{{data.linkedin}}</p>
    <p>{{data.heure}}</p>
    
  </div>

  <div class="item item-body">
    <!-- <img class="full-image" src="delorean.jpg"> -->
    <p>
      {{data.description}}
    </p>
    <p>
      <a href="#" class="subdued">{{data.likes}} J'aime</a>
      <a href="#" class="subdued">{{data.comments}} Commentaires</a>
    </p>
  </div>
</div>

<div class="list" ng-repeat='comment in comments'>

  <div class="item item-divider" >
    {{comment.creator}}
  </div>

  <div class="item">
    {{comment.comment}}
  </div>
</div>
  <div ng-if='!connected'>   </br></br></br>  </div>

<div class="list" ng-if='connected'>
  <label class="item item-input">
    <textarea ng-model='data.comment' placeholder="Commentaire"></textarea>
  </label>
  <button class='button button-block button-assertive' ng-click='commenter()' > Commenter </button>
  </br></br></br>
</div>



</div>
</ion-content>
<div class="tabs tabs-icon-only" ng-if='single'>
  <a class="tab-item" ng-click='like()' ng-if='connected'>
    <i class="icon ion-ios-heart"></i>
  </a>
  <a class="tab-item" ng-click='requirelogin()' ng-if='!connected'>
    <i class="icon ion-ios-heart"></i>
  </a>

  <a class="tab-item" ng-click='bottom()' ng-if='connected'>
    <i class="icon ion-ios-chatbubble"></i>
  </a>
  <a class="tab-item" ng-click='requirelogin()' ng-if='!connected'>
    <i class="icon ion-ios-chatbubble"></i>
  </a>

<a class='tab-item' ng-click="share()">
      <i class='icon ion-android-share-alt'></i>

</a>
  <a class='tab-item' ng-click='myGoBack()'>
    <i class='icon ion-ios-undo'></i>
  </a>
</div>
</div>
<div ng-if='!single'>
  <ion-content class='center_vertical'>
    <div class="list">

    <a class="item item-avatar" href="#/app/conf/{{d.id}}" ng-repeat='d in data'>
      <img src="http://192.168.100.42/uploads/{{d.image}}">
      <h2>{{d.titre}}</h2>
      <p>{{d.facebook}}</p>
      <p>{{d.heure}}</p>

    </a>
</div>
  </ion-content>
  
  
</div>
</ion-view>
