<ion-view view-title="Infos Pratiques" style='background : white;'>
<ion-content>
<div class="list card">
<a class='nouveautes item' href='#/app/infos/infoshebergement'>
  <i class='nouv_icon item icon ion-plane'></i>
  </br>Votre </br> hebergement
</a>
<a class='nouveautes item' href='#/app/infos/infosavion'>
  <i class='nouv_icon item icon ion-home'></i>
  </br>Votre billet </br> d'avion
</a>
<a class='nouveautes item' href='#/app/infos/infoscontact'>
  <i class='nouv_icon item icon ion-clock'></i>
  </br>Service </br> sur place
</a>
<a class='nouveautes item' href='#/app/infos/infosservice'>
  <i class='nouv_icon item icon ion-android-contacts'></i>
  </br>Contact </br> organisateur
</a>
</div>

</ion-content>
</ion-view>
