<ion-view view-title="Nouveautés 2016" style='background : white;'>
<ion-content>
<div class="list card">
<a class='nouveautes item' href='#/app/nouveautes/nouveautesvillages'>
  <i class='nouv_icon item icon ion-ios-people'></i>
  </br>Villages Thématiques
</a>
<a class='nouveautes item' href='#/app/nouveautes/nouveauteshackathon'>
  <i class='nouv_icon item icon ion-android-bulb'></i>
  </br>E-learning Hackathon
</a>
<a class='nouveautes item' href='#/app/nouveautes/nouveautesb2b'>
  <i class='nouv_icon item icon ion-person-stalker'></i>
  </br>Business Meetings
</a>
<a class='nouveautes item' href='#/app/nouveautes/nouveautesbarometre'>
  <i class='nouv_icon item icon ion-clipboard'></i>
  </br>Baromètre E-learning
</a>
<a class='nouveautes item' href='#/app/nouveautes/nouveautesmasterclass'>
  <i class='nouv_icon item icon ion-compose'></i>
  </br>Masterclass
</a>
<a class='nouveautes item' href='#/app/nouveautes/nouveautesconcours'>
  <i class='nouv_icon item icon ion-camera'></i>
  </br>Jeu Concours
</a>
</div>

</ion-content>
</ion-view>
