<ion-view view-title="Info Pratiques" style='background : white;'>
<ion-content>
<div class="list" ng-repeat='d in data'>

  <div class="item item-divider text-center" ng-bind-html='d.titre'>
  </div>
  <div class="item item-body">
    <img class="full-image" src="http://192.168.100.42/uploads/{{d.image}}">
    <p ng-bind-html='d.description'>
    </p>
  </div>
  <div class='text-center'>
<button class='button button-assertive text-center' onclick="window.open('http://www.samaronshotels.com/booking-step-1-2/', '_system', 'location=yes'); return false;">Réservez Dès maintenant</button>
</div>
</div>
    <p>
      <a href="#" class="subdued">{{data[0].likes}} J'aime</a>
      <a href="#" class="subdued">{{data[0].comments}} Commentaires</a>
    </p>

<div class="list" ng-repeat='comment in comments'>

  <div class="item item-divider" >
    {{comment.creator}}
  </div>

  <div class="item">
    {{comment.comment}}
  </div>
</div>
  <div ng-if='!connected'>   </br></br></br>  </div>
<div class="list" ng-if='connected'>
  <label class="item item-input">
    <textarea ng-model='data.comment' placeholder="Commentaire"></textarea>
  </label>
  <button class='button button-block button-assertive' ng-click='commenter()' > Commenter </button>
  </br></br></br>
</div>



</div>
</ion-content>
<div class="tabs tabs-icon-only">
  <a class="tab-item" ng-click='like()' ng-if='connected'>
    <i class="icon ion-ios-heart"></i>
  </a>
  <a class="tab-item" ng-click='requirelogin()' ng-if='!connected'>
    <i class="icon ion-ios-heart"></i>
  </a>

  <a class="tab-item" ng-click='bottom()' ng-if='connected'>
    <i class="icon ion-ios-chatbubble"></i>
  </a>
  <a class="tab-item" ng-click='requirelogin()' ng-if='!connected'>
    <i class="icon ion-ios-chatbubble"></i>
  </a>

<a class='tab-item' ng-click="share()">
      <i class='icon ion-android-share-alt'></i>

</a>
  <a class='tab-item' ng-click='myGoBack()'>
    <i class='icon ion-ios-undo'></i>
  </a>
</div>
</ion-view>
